.navbar1-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar1-thq-image1-elm {
  height: 3rem;
}
 
.navbar1-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar1-thq-links-elm1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar1-thq-link1-elm1 {
  text-decoration: none;
}
 
.navbar1-thq-link2-elm1 {
  text-decoration: none;
}
 
.navbar1-thq-link3-elm1 {
  text-decoration: none;
}
 
.navbar1-thq-link4-elm1 {
  text-decoration: none;
}
 
.navbar1-thq-link5-elm1 {
  text-decoration: none;
}
 
.navbar1-thq-buttons-elm1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar1-thq-action1-elm1 {
  display: flex;
  flex-direction: row;
}
 
.navbar1-thq-action2-elm1 {
  display: flex;
  flex-direction: row;
}
 
.navbar1-thq-burger-menu-elm {
  display: none;
}
 
.navbar1-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar1-thq-logo-elm {
  height: 3rem;
}
 
.navbar1-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar1-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-thq-links-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-thq-link1-elm2 {
  text-decoration: none;
}
 
.navbar1-thq-link2-elm2 {
  text-decoration: none;
}
 
.navbar1-thq-link3-elm2 {
  text-decoration: none;
}
 
.navbar1-thq-link4-elm2 {
  text-decoration: none;
}
 
.navbar1-thq-link5-elm2 {
  text-decoration: none;
}
 
.navbar1-thq-buttons-elm2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar1-thq-icon-group-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar1-fragment1 {
  display: contents;
}
 
.navbar1-text14 {
  display: inline-block;
}
 
.navbar1-fragment2 {
  display: contents;
}
 
.navbar1-text15 {
  display: inline-block;
}
 
.navbar1-fragment3 {
  display: contents;
}
 
.navbar1-text16 {
  display: inline-block;
}
 
.navbar1-fragment4 {
  display: contents;
}
 
.navbar1-text17 {
  display: inline-block;
}
 
.navbar1-fragment5 {
  display: contents;
}
 
.navbar1-text18 {
  display: inline-block;
}
 
.navbar1-fragment6 {
  display: contents;
}
 
.navbar1-text19 {
  display: inline-block;
}
 
.navbar1-fragment7 {
  display: contents;
}
 
.navbar1-text20 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar1-thq-navbar-interactive-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar1-thq-desktop-menu-elm {
    display: none;
  }
  .navbar1-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar1-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar1-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}
