.sign-up10-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
 
.sign-up10-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
 
.sign-up10-thq-form-root-elm {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up10-thq-form-elm {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.sign-up10-thq-title-root-elm {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.sign-up10-thq-text-elm1 {
  text-align: center;
}
 
.sign-up10-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up10-thq-email-elm {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up10-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up10-thq-password-elm {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up10-thq-textfield-elm {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up10-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up10-thq-hide-password-elm {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up10-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up10-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up10-thq-button-elm1 {
  width: 100%;
}
 
.sign-up10-thq-text-elm6 {
  text-align: center;
}
 
.sign-up10-thq-divider-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up10-thq-divider-elm2 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-up10-thq-divider-elm3 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-up10-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up10-thq-button-elm2 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up10-icon3 {
  width: 24px;
  height: 24px;
}
 
.sign-up10-thq-button-elm3 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up10-icon5 {
  width: 24px;
  height: 24px;
}
 
.sign-up10-thq-button-elm4 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up10-icon7 {
  width: 24px;
  height: 24px;
}
 
.sign-up10-fragment1 {
  display: contents;
}
 
.sign-up10-text1 {
  display: inline-block;
}
 
.sign-up10-fragment2 {
  display: contents;
}
 
.sign-up10-text2 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .sign-up10-thq-form-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .sign-up10-thq-text-elm1 {
    text-align: center;
  }
  .sign-up10-thq-text-elm2 {
    text-align: center;
  }
  .sign-up10-thq-button-elm1 {
    width: 100%;
  }
  .sign-up10-thq-button-elm2 {
    width: 100%;
  }
  .sign-up10-thq-button-elm3 {
    width: 100%;
  }
  .sign-up10-thq-button-elm4 {
    width: 100%;
  }
}
